.heading {
    font-size: 20px;
    list-style: none;
    float: center;
    top: 10px;
    right: 30px;
    text-align: center;
    background-color: #346592;
    border: #346592 solid;
    border-radius: 20px;
}

.first_object {
    background-color: turquoise;
    padding: 20px;
    border: solid white;
    box-shadow:1px 1px 1px 3px ;
    border-radius: 20px;
    width: 200px;
    margin: 20px;
}

.second_object {
    background-color: turquoise;
    padding: 20px;
    border: solid white;
    box-shadow:1px 1px 1px 3px ;
    border-radius: 20px;
    width: 200px;
    margin: 20px 20px 20px 20px;
}

.third_object {
    background-color: turquoise;
    padding: 20px;
    border: solid white;
    box-shadow:1px 1px 1px 3px ;
    border-radius: 20px;
    width: 200px;
    margin: 20px 20px 20px 20px;
}
